<h1>Pumpkin#new</h1>
<% if @pumpkin.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@pumpkin.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
    <% @pumpkin.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @pumpkin do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field :name %><br>
  <%= f.label(:img_url) %>
  <%= f.text_field :img_url %><br>
  <%= f.label(:orange) %>
  <%= f.check_box :color %>
  <%= f.label(:yellow) %>
  <%= f.check_box :color %>
  <%= f.label(:white) %>
  <%= f.check_box :color %>
  <%= f.label(:green) %>
  <%= f.check_box :color %><br> 
  <%= f.label(:size) %>
  <%= f.number_field :size %><br>
  <%= f.submit %>
<% end %>
