<h1>Pumpkin#new</h1>
<% if @pumpkin.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@pumpkin.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
    <% @pumpkin.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @pumpkin do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field :name %><br>
  <%= f.label(:img_url) %>
  <%= f.text_field :img_url %><br>
  <%= f.label(:orange) %>
  <%= f.radio_button :color, 'orange' %>
  <%= f.label(:yellow) %>
  <%= f.radio_button :color, 'yellow' %>
  <%= f.label(:white) %>
  <%= f.radio_button :color, 'white' %>
  <%= f.label(:green) %>
  <%= f.radio_button :color, 'green' %><br>
  <%= f.label(:size) %>
  <%= f.number_field :size, in: 1..10 %><br>
  <%= collection_select(:pumpkin, :farm_id, Farm.all, :id, :name, prompt: true) %>
  <br><br>
  <%= f.submit %>
<% end %>
