<!DOCTYPE html>
<html>
  <head>
    <title>PumpkinCarver</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% flash[:messages].each do |msg| %>
      <p class="flash-message"><%= msg %></p>
    <% end %>

    <% flash[:errors].each do |err| %>
      <p class="flash-error"><%= err %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
